body,
html {
  margin: 0;
}

h1 {
  margin: 0;
}

.background {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.content {
  display: flex;
  background: rgba(255, 255, 255, 0.95);
  width: 800px;
}

/* Timer Styling */

.timer {
  display: flex;
  flex-flow: column;
  font-family: sans-serif;
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 60px;
  margin: 20px 0;
  width: 50%;
}

.timer .countdown {
  display: flex;
  flex-flow: row;
}

.timer .controls {
  display: flex;
  flex-flow: row;
}

.timer div > span {
  padding: 20px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
}

.centiseconds {
  color: #777;
}

/* To Do Styling */

.todolist {
  display: flex;
  flex-flow: column;
  width: 50%;
}
