body,
html {
  margin: 0;
  font-size: 16px;
}

h1 {
  background: rgba(10, 10, 10, 0.5);
  color: #eee;
  margin: 3rem 3rem 1rem;
  padding: 1rem;
  text-align: center;
}

h1 span {
  color: #999;
  font-size: 1rem;
  font-weight: normal;
}

.background {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
  padding: 0px;
}

.content {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  background: rgba(255, 255, 255, 0.95);
  margin: 20px;
}
