body,
html {
  margin: 0;
}

h1 {
  margin: 100px;
  background: #333;
  color: #eee;
}

.background {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
  padding: 0px;
}

.content {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  background: rgba(255, 255, 255, 0.95);
  margin: 20px;
}

/* Timer Styling */

.timer {
  display: flex;
  flex-flow: column;
  font-family: sans-serif;
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 60px;
  margin: 20px 0;
  width: inherit;
}

.timer .countdown {
  display: flex;
  flex-flow: row;
}

.timer .controls {
  display: flex;
  flex-flow: row;
}

.timer div > span {
  padding: 20px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
}

.centiseconds {
  color: #777;
}
