.timer {
  display: flex;
  flex-flow: column;
  font-family: sans-serif;
  color: #fff;
  font-weight: 100;
  text-align: center;
}

.timer .countdown {
  display: flex;
  flex-flow: row;
}

.timer .controls {
  display: flex;
  flex-flow: row;
  margin-top: 1rem;
}

.timer div > span {
  padding: 20px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
}

.timer.finished .countdown {
  display: none;
}

.timer .description {
  display: none;
}

.timer.finished .description {
  display: inline;
}
