.timer {
  display: flex;
  flex-flow: column;
  color: #fff;
  font-weight: 100;
  text-align: center;
  font-size: 3rem;
  margin: 1rem;
  width: inherit;
}

.timer .countdown {
  display: flex;
  flex-flow: row;
  margin-top: 1rem;
  justify-content: center;
}

.timer.inactive .countdown {
  display: none;
}

.timer .controls {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.timer .controls button {
  background: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.timer div > span {
  padding: 20px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
}

.timer.finished .countdown {
  display: none;
}

.timer.inactive .resetBtn,
.timer.finished .resetBtn {
  display: none;
}

.timer.active .playBtn {
  display: none;
}

.timer .description {
  display: none;
}

.timer.finished .description {
  display: inline;
}

ul.pomos-list {
  list-style: none;
  color: black;
  font-size: 0.5em;
}

.pomos-list .session {
  display: flex;
  justify-content: space-between;
}
